.about-container {
    
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-title {
    /* Styles for the title */
    font-size: 50px;
    color: #333;
}